@import url("fonts.css");

@import url("reset.css");


body {
    color: #807D7E;
    background: #FFF;
}

main {
    margin-bottom: 100px;
}

.header {
    max-width: 700px;
    min-height: 250px;
    padding: 15px;
    margin: 0 auto 50px;
    background-color: #74e5ef;
    border-radius: 76% 24% 52% 48% / 48% 16% 84% 52%;
    box-shadow: inset 0 0 10px 5px rgb(148, 148, 247);
}

.title-one {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(216, 245, 34, 0.5);
    color: olivedrab;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.title-one+ul {
    font-family: "Causten", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(200, 57, 193);
    text-shadow: 2px 2px 2px rgba(247, 69, 69, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.project {
    max-width: 830px;
    color: #7D7D7D;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.46;
    margin: 0 auto 50px;
}

#project {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.27;
    text-transform: capitalize;
    margin-bottom: 13px;
}

.project-text p {
    margin-bottom: 30px;
}

.project-text {
    margin-bottom: 35px;
}

.project-list {
    font-weight: 500;
    line-height: 1.87;
    padding-left: 16px;
    margin-bottom: 35px;
}

.clothing {
    font-size: 20px;
    color: #807D7E;
    font-family: "Causten", sans-serif;
    max-width: 1240px;
    margin: 0 auto 50px;
}

.title-three-block {
    margin-bottom: 30px;
}

.dash {
    display: inline-block;
    margin-right: 15px;
    width: 6px;
    height: 28px;
    border-radius: 10px;
    vertical-align: middle;
    background: #8A33FD;
}

#clothing {
    font-family: "Core Sans C", sans-serif;
    font-size: 28px;
    color: #3C4242;
    font-weight: 600;
    line-height: 1.20;
    letter-spacing: 0.56px;
    display: inline-block;
    vertical-align: middle;
}

.reexplore,
.one-stop {
    line-height: 1.67;
    letter-spacing: 0.4px;
    padding: 0 21px;
}

.title-four {
    margin-bottom: 25px;
    color: #807D7E;
    font-family: "Core Sans C", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.4px;
}

.euphoria {
    font-weight: 700;
}

.reexplore p {
    margin-bottom: 20px;
}

/* Jewels block */

.jewels {
    max-width: 1103px;
    margin: 0 auto 50px;
}

.jewels-info {
    color: #606060;
    max-width: 503px;
    display: inline-block;
    font-family: "Cormorant Infant", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    vertical-align: middle;
    padding-right: 14px;
    margin-right: 75px;
}

.title-three {
    color: #D58417;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 27px;
}

#jewels {
    color: #000;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 31px;
}

.neckless {
    max-width: 187px;
    border: 1px solid #502203;
    border-radius: 235px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.earrings {
    max-width: 318px;
    border: 1px solid #502203;
    border-radius: 235px;
    display: inline-block;
    vertical-align: middle;
}

.img1 {
    margin: 14px 10px -14px -10px;
}

.img2 {
    margin: 19px 11px -13px -10px;
}

/* licencing */

.licencing {
    font-family: "Inter";
    max-width: 1218px;
    margin: 0 auto 50px;
}

.title-box {
    text-align: center;
    margin-bottom: 16px;
}

.box {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #40DDB6;
    margin-right: 6px;
}

.title4 {
    display: inline-block;
    color: #37393F;
    font-size: 18px;
    font-weight: 500;
}

#licencing {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 70px;
}

.icons,
.photo {
    color: #7D7D7D;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.46;
    margin-bottom: 100px;
}

.photo {
    margin-bottom: 24px;
}

.icons p {
    margin-bottom: 32px;
}

.title3 {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 11px;
}

.lists {
    margin-bottom: 100px;
}

.title4 {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}

.license {
    color: #40DDB6;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.img-list li {
    display: inline-block;
    color: #40DDB6;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.46;
}

.img-list {
    margin-bottom: 50px;
}

.fonts-link {
    color: #40DDB6;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.46;
}

/* Footer */

.bottom-block {
    font-family: "Inter", sans-serif;
    max-width: 1000px;
    margin: 0 auto 50px;
    text-align: center;
}

hr {
    border: 1px solid rgb(206, 70, 8);
    margin-bottom: 40px;
}

.add {
    margin-bottom: 20px;
}

.add p {
    outline: 4px solid rgb(63, 172, 208);
    box-shadow: 7px 7px 15px 5px gray;
}

.title6 {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
    color: pink;
    border-bottom: 1px dashed purple;
    display: inline-block;
    box-shadow: inset 0 0 6px 3px,
        0 0 4px 3px rgb(56, 170, 56);
    border-radius: 6px;
}

h6:hover {
    color: green;
}

.radius {
    border: 6px double rgb(70, 129, 193);
    border-radius: 15px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid olivedrab;
    border-bottom: 50px solid transparent;
    margin-bottom: 50px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 100px solid olivedrab;
    margin-bottom: 50px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid olivedrab;
    border-bottom: 50px solid transparent;
    margin-bottom: 50px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid olivedrab;
    margin-bottom: 50px;
}