@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    background: #FFF9F4;
}

.first-block {
    padding: 0 15px;
    max-width: 722px;
    margin: 0 auto;
}

.title-one {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(216, 245, 34, 0.5);
    color: olivedrab;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.title-three,
.title-five {
    font-family: "Poppins", sans-serif;
    color: #37393F;
    font-weight: 600;
    line-height: 1.27;
}

.team,
.laptop {
    max-width: 100%;
}

.team {
    margin-bottom: 37px;
}

.title-three {
    font-size: 30px;
    margin-bottom: 12.5px;
}

.text {
    line-height: 1.46;
    margin-bottom: 42px;
}

.text>p {
    margin-bottom: 42px;
}

#blue-text {
    color: #6B77E5;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 12px;
}

.benefits {
    font-size: 0;
    margin-bottom: 50px;
}

.laptop {
    width: 331px;
    margin-right: 29px;
}

.benefits-content {
    display: inline-block;
    width: 332px;
    font-size: 18px;
}

.title-five {
    font-size: 25px;
    margin-bottom: 15px;
}

#text-green {
    color: #40DDB6;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 24px;
}

.list-benefits li {
    margin-bottom: 35px;
}

/* Jewellery page */

.last-block {
    max-width: 1169px;
    margin: 0 auto;
    font-size: 0;
}

.block-left {
    display: inline-block;
    width: 563px;
    padding: 21px 0;
    margin-right: 38px;
}

.title-four {
    color: #D06B00;
    font-size: 28px;
    margin-bottom: 13px;
}

.title-two {
    color: #0E333D;
    font-family: "DM Serif Text", sans-serif;
    font-size: 59px;
    line-height: 1.46;
    margin-bottom: 25px;
}

.block-left-content {
    display: inline-block;
    color: #474747;
    font-size: 20px;
    line-height: 1.8;
}

.earring-left {
    width: 273px;
    border-radius: 5px;
    margin-right: 22px;

}

.earring-right {
    display: inline-block;
    width: 273px;
    border-radius: 5px;
    margin-bottom: 60px;
}

/* Practice */

footer {
    width: auto;
}

.first-container {
    max-width: 50%;
    line-height: 1.4;
    background-color: lemonchiffon;
    margin: 0 auto 20px;
    padding: 15px 0;
}

.block {
    text-align: center;
}

.second-container {
    line-height: 1.6;
    background-color: rgb(249, 167, 158);
    margin-bottom: 20px;
}

.block-two {
    margin-bottom: 15px;
}

.third-container {
    font-size: 0;
    max-width: 50%;
    background-color: red;
    padding: 15px;
    margin: 0 auto 20px;
}

.fourth-container {
    line-height: 1.20;
    max-height: 100px;
    max-width: 50%;
    overflow: auto;
    padding: 10px;
    margin: 0 auto 30px;
    background-color: #f2b1f5;
}

.block-four {
    margin-bottom: 5px;
}

.link {
    display: inline-block;
    margin-bottom: 5px;
    color: #07c091;
    text-decoration: none;
}

.link:hover {
    color: #0E333D;
}